
.container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  position: relative;
  background-color: #f3f3f3;
  overflow: hidden;
  font-size:medium;
}
.nav-items > ul{
  list-style-type: none;
  display: flex;
  cursor: pointer;
  margin-right: 20px;
}
.nav-items > ul > li{
  padding:10px;
}
.logo > img{
  border-radius: 20%;
  margin:10px;
}
.curve {
  position: absolute;
  width: 100%;
  height: 65px;
  left: 0;
  background: rgb(232, 90, 90);
}
.curve-top {
  top: -50px;
  border-radius: 0 0 50% 50%;
}
.curve-bottom {
  bottom: -50px;
  border-radius: 50% 50% 0 0;
}
.card{
  height: 280px;
  width: 200px;
   /* border: 1px solid black; */
  margin: 20px;
  background-color: #f3f3f3;
  padding: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 2px solid transparent;
  border-radius: 15px;
  overflow: hidden;
  /* transition: border 0.3s ease-in-out; */
   transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.card:hover {
  box-shadow: 0 5px 10px rgb(232, 90, 90), 0 5px 10px rgb(232, 90, 90);
  transform: translateY(-2px); 
  cursor:pointer;
}
.card-info >h3,h4{
  margin: 5px;
}
.res-logo > img{
  height: 150px;
  border-radius: 5px;
}
.res-Container{
  display: flex;
  align-items: center;
  justify-content:center;
  flex-wrap: wrap;
}
.body {
  display: flex;
  align-items: center;
  justify-content: end;
}
.search{
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid black;
  padding: 10px;
  width: 100px;
}
.footer {
  margin-top: 20px;
  position: relative;
  background-color: #f3f3f3; /* Background color of the footer */
  padding: 10px;
  text-align: center;
  color: #333;
  overflow: hidden; /* Ensure the curve stays within the footer */
}

.curve-1 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: rgb(232, 90, 90); /* Red color */
  border-radius: 0 0 50% 50%;
  z-index: 1; /* Send the curve behind the content */
}

.footer-content {
  position: relative;
  z-index: 1; /* Ensure footer content is above the curve */
}